*, *::after, *::before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 1000px){
    .hero .dp-none {
        display: inline-block;
        position: absolute;
        height: auto;
        width: auto;
    }
}
